/* app css stylesheet */

.menu {
  list-style: none;
  /*border-bottom: 0.1em solid black;*/
  margin-bottom: 2em;
  margin-top: 4em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.content{
  margin-top: 70px;
  /*padding: 0 15px;*/
}

article{
  color: #333;
}
article img{
  display: none;
}
.nav-center{
  text-align: center;
}
.nav-center .navbar-brand{
  float: none;
}

.footer{
  margin-top: 30px;
  text-align: center;
  font-size: 12px;
  color: #999;
}
.f-fr{
  float: right;
}
.s-fade{
  font-weight: normal;
  color: #999;
}